#responsive-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#thumb-img {
    height: 70%;
    width: 100%;
}
#video {
    width: 25%;
    margin: 1%;
}
#title {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin: 3%;
}
#info-vid {
    font-size: 12px;
    color: #AAAAAA;
    margin: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
#details {
    display: flex;
    position: relative;
}
#channel-img {
    border-radius: 50%;
    margin: 3%;
    height: 10%;
    width: 10%;
}
#temp {
    background-color: black;
    border-radius: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: 2%;
    padding: 3px 4px;
}
#icon-details {
    position: absolute;
    right: 0;
    top: 10%;
    height: 32%;
    width: 8%;
    color: white;
    opacity: 0;
}
.margin1 {
    margin-left: 5vw;
    width: 100vw;
}
.margin2 {
    margin-left: 17vw;
}
#vid-hover {
    color: white;
    background-color: black;
    position: absolute;
    bottom: 0;
    margin: 2%;
    padding: 2%;
    z-index: 1;
    font-size: 14px;
    opacity: 0;
}
#video:hover #vid-hover,#video:hover #icon-details {
    opacity: 1;
}