/* header css */
.flex {
  display: flex;
  margin-left: 4%;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  background-color: #333;
  height: 10vh;
  width: 100%;
  align-items: center;
}
#logo {
  height: 30%;
  width: 12%;
  padding: 1%;
}
#search {
  height: 100%;
  width: 100%;
  padding: 2px 6px;
  background-color: #000000;
  border: none;
  color: white;
}
#search:focus {
  box-shadow: 0 0 0 0;
  outline: none;
}
.input {
  height: 1%;
  width: 60%;
  display: flex;
  padding: 3px 10px;
  align-items: center;
  background-color: #000000;
  border: solid 1px #444;
}

#keyboard {
  color: white;
  height: 8%;
  width: 8%;
  cursor: pointer;
}
#btn-search {
  background-color: #444;
  border: none;
  height: 100%;
  width: 150%;
  cursor: pointer;
}
#search-icon {
  margin-top: 5%;
  height: 90%;
  width: 90%;
}
#menu {
  margin: 1%;
  color: white;
  height: 40%;
  width: 5%;
  cursor: pointer;
}
#mic-icon {
  cursor: pointer;
  background-color: #000000;
  color: white;
  padding: 1.3%;
  border-radius: 100%;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
}
#vid-icon {
  cursor: pointer;
  color: white;
  height: 50%;
  width: 4%;
  padding: 1.3%;
}
#menugrid-icon {
  cursor: pointer;
  color: white;
  height: 50%;
  width: 4%;
  padding: 1.3%;
}
#icon {
  cursor: pointer;
  color: white;
  height: 50%;
  width: 4%;
  padding: 1.3%;
}
@media only screen and (max-device-width: 832px) {
  #btn-search {
    height: 90%;
    
  }
  #mic-icon {
    margin-left: 4%;
  }
}
/* header's end */
#abas {
  height: 90vh;
  width: 5%;
  background-color: #333;
}
#a {
  text-align: center;
  color: white;
  font-size: 65%;
  padding: 25% 0% 25%;
}
p {
  margin: 0;
}
#abas-icons {
  height: 40%;
  width: 40%;
}
#a:hover {
  background-color: rgb(148, 146, 146);
}
#abas2 {
  overflow-y: auto;
  height: 90vh;
  width: 17%;
  background-color: #333;
}
#a-expand {
  height: 8%;
  display: flex;
  color: white;
  align-items: center;
  padding: 0 7%;
}
#a-expand:hover {
  background-color: rgb(148, 146, 146);
}
#abas-icons2 {
  height: 55%;
  width: 20%;
  margin: 0 10% 0 0;
}
hr {
  margin: 5%;
}
h4 {
  margin-top: 0;
  text-align: center;
  color: #AAAAAA;
}